/* GENERAL */
body {
    background: #0d0d0d;
    color: #ffffff;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}

section {
    width: 85%;
    margin: auto;
    padding: 60px 0;
}

.section-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #f4b400;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: #0d0d0d;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #333;
}

nav div a {
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
}

nav div a:hover {
    color: #f4b400;
}

/* HOME SECTION */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.home-text h1 {
    font-size: 48px;
}

.home-text p {
    font-size: 22px;
    color: #ccc;
    margin-top: -10px;
}

.home-buttons button {
    background: #f4b400;
    padding: 12px 22px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

.home-buttons button:hover {
    background: #ffce43;
    transform: scale(1.05);
}

/* PROFILE PHOTO */
.home-photo img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: 5px solid #f4b400;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(255, 193, 7, 0.5);
    transition: 0.4s;
}

.home-photo img:hover {
    transform: scale(1.05);
}

/* SKILLS */
.skill {
    margin-bottom: 25px;
}

.skill-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.skill-bar {
    width: 100%;
    background: #333;
    height: 14px;
    border-radius: 8px;
}

.skill-level {
    height: 14px;
    background: #f4b400;
    border-radius: 8px;
    transition: width 1.2s ease-in-out;
}

/* EXPERIENCE / EDUCATION BOXES */
.exp-box {
    background: #141414;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 22px;
    border: 1px solid #2a2a2a;
    transition: 0.3s ease;
}

.exp-box:hover {
    background: #1d1d1d;
    transform: translateY(-4px);
}

.exp-title {
    font-size: 20px;
    font-weight: bold;
    color: #f4b400;
}

.exp-company {
    font-size: 17px;
    color: #ccc;
    margin-top: 5px;
}

/* CONTACT */
.contact-box {
    text-align: center;
    margin-top: 8px;
    font-size: 22px;
}

.social-links a {
    color: #f4b400;
    margin: 0 18px;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}

.social-links a:hover {
    color: #ffffff;
}

/* MOBILE RESPONSIVE */
@media (max-width: 900px) {
    .home-container {
        flex-direct
